<h1>Here we register</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>Sign Up</button>
</form>

<li>
    <a href="/register">Sign Up!</a>
</li>
<li>
    <a href="/login">login</a>
</li>
<li>
    <a href="/logout">log out</a>
</li>